{% extends "base.html" %} {% block title %} Request Appointments {% endblock %}
{% load widget_tweaks %}
{% block content %}
<div class="breadcumb-wrapper " data-bg-src="/static/img/request_appointment_background_1920x800.jpg">
    <div class="container">
        <div class="breadcumb-content">
            <h2 class="breadcumb-title">Request Appointment</h2>
        </div>
    </div>
</div>

<div class="position-relative space">
    <div class="container">
        <form action="/appointment/" method="POST" class="booking-form-area">
            <div class="booking-title-area">
                <div class="title-area mb-40 text-center wow fadeInUp">
                    <span class="sub-title style2">Come Visit Us</span>
                    <img src="assets/img/theme-img/title_shape_1.svg" alt="">
                    <h2 class="sec-title">Make Your Appointment Now</h2>
                </div>
            </div>
            {% csrf_token %}
            <div class="row">
                <div class="form-group col-md-6">
                    {% render_field form.first_name placeholder="First Name" class+="form-control" %}
                </div>
                <div class="form-group col-md-6">
                    {% render_field form.last_name placeholder="Last Name" class+="form-control" %}
                </div>
                <div class="form-group col-md-6">
                    {% render_field form.email_address placeholder="Email Address" class+="form-control" %}
                </div>
                <div class="form-group col-md-6">
                    {% render_field form.phone_number placeholder="Phone Number" class+="form-control" %}
                </div>
                <div class="form-group col-12">
                    {% render_field form.service placeholder="Service" class+="form-control" %}
                </div>
                <div class="form-group col-12">
                    {% render_field form.date placeholder="Select Date" class+="date-pick form-control" %}
                </div>
                <div class="form-group col-12">
                    {% render_field form.time placeholder="Select Time" class+="time-pick form-control" %}
                </div>
            </div>
            <div class="btn-group justify-content-center justify-content-lg-start">
                <button type="submit" class="th-btn fw-btn">Make An Appointment</button>
            </div>
        </form>
    </div>

</div>

{% endblock %}