{% extends "base.html" %} {% block title %} Contact Us {% endblock %}
{% load widget_tweaks %}
{% block content %}
<div class="breadcumb-wrapper " data-bg-src="/static/img/old_old_phone_1920x800.jpg">
    <div class="container">
        <div class="breadcumb-content">
            <h2 class="breadcumb-title">Contact Us</h2>
        </div>
    </div>
</div>

<!--==============================
Contact Area  
==============================-->
<div class="space" id="contact-sec">
    <div class="container">
        <div class="row gy-40">
            <div class="col-lg-6 col-xl-5">
                <div class="contact-info-wrap me-xl-4">
                    <div class="title-area mb-20">
                        <h3 class="sec-title">Our Contact Information</h3>
                        <p>Have a question or want to provide feedback? Fill out the form below to contact our team.</p>
                    </div>
                    <div class="contact-info">
                        <div class="contact-info_icon">
                            <ion-icon name="location-outline"></ion-icon>
                        </div>
                        <div class="media-body">
                            <h3 class="box-title">Our Address</h3>
                            <span class="contact-info_text">PR-115 KM .25 Barrio Asomante, Aguada, Puerto Rico 00602</span>
                        </div>
                    </div>
                    <div class="contact-info">
                        <div class="contact-info_icon">
                            <ion-icon name="call-outline"></ion-icon>
                        </div>
                        <div class="media-body">
                            <h3 class="box-title">Phone Number</h3>
                            <span class="contact-info_text">
                                Mobile:
                                <a href="tel:+17873616311"> +1 787-361-6311</a>
                            </span>
                            <span class="contact-info_text">
                                Email:
                                <a href="mailto:kateryvalle@gmail.com"> kateryvalle@gmail.com</a>
                            </span>
                        </div>
                    </div>
                    <div class="contact-info">
                        <div class="contact-info_icon">
                            <ion-icon name="timer-outline"></ion-icon>
                        </div>
                        <div class="media-body">
                            <h3 class="box-title">Hours of Operation</h3>
                            <span class="contact-info_text">
                                Tuesday - Saturday: 9AM - 6PM Sunday - Monday: Closed
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-xl-7">
                <div class="map-sec">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d236.64044956752565!2d-67.17764949021304!3d18.381597516077306!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8c02bb4043e972df%3A0xb463df90fa77c748!2sWhite%20Point%20Esthetic!5e0!3m2!1sen!2sus!4v1702563394621!5m2!1sen!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="contact-form-wrapper">
                    <form action="/contact/" method="POST" class="contact-form">
                        <h2 class="form-title text-center">Get In Touch</h2>
                        {% csrf_token %}
                        <div class="row">
                            <div class="form-group col-12">
                                {% render_field form.full_name placeholder="Full Name" class+="form-control" %}
                            </div>
                            <div class="form-group col-md-6">
                                {% render_field form.email_address placeholder="Email Address" class+="form-control" %}
                            </div>
                            <div class="form-group col-md-6">
                                {% render_field form.phone_number placeholder="Phone Number" class+="form-control" %}
                            </div>
                            <div class="form-group col-12">
                                {% render_field form.service placeholder="Service" class+="form-select nice-select" %}
                            </div>
                            <div class="form-group col-12">
                                {% render_field form.text_content placeholder="Write Message" cols="30" rows="3" class+="form-control" %}
                            </div>
                          
                        </div>
                        <div class="form-btn col-12">
                            <button type="submit" class="th-btn fw-btn">Send Messages</button>
                        </div>
                        <p class="form-messages mb-0 mt-3"></p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}