{% extends "base.html" %} {% block title %} Contact Us {% endblock %}
{% block content %}
<div class="breadcumb-wrapper " data-bg-src="/static/img/old_old_phone_1920x800.jpg">
    <div class="container">
        <div class="breadcumb-content">
            <h2 class="breadcumb-title">Contact Us</h2>
        </div>
    </div>
</div>

<!--==============================
Contact Area  
==============================-->
<div class="space" id="contact-sec">
    <div class="container">
        <div class="row gy-40">
            <div class="col-lg-6 col-xl-5">
                <div class="contact-info-wrap me-xl-4">
                    <div class="title-area mb-20">
                        <h3 class="sec-title">Our Contact Information</h3>
                        <p>Have a question or want to provide feedback? Fill out the form below to contact our team.</p>
                    </div>
                    <div class="contact-info">
                        <div class="contact-info_icon">
                            <ion-icon name="location-outline"></ion-icon>
                        </div>
                        <div class="media-body">
                            <h3 class="box-title">Our Address</h3>
                            <span class="contact-info_text">PR-115 KM .25 Barrio Asomante, Aguada, Puerto Rico 00602</span>
                        </div>
                    </div>
                    <div class="contact-info">
                        <div class="contact-info_icon">
                            <ion-icon name="call-outline"></ion-icon>
                        </div>
                        <div class="media-body">
                            <h3 class="box-title">Phone Number</h3>
                            <span class="contact-info_text">
                                Mobile:
                                <a href="tel:+17873616311"> +1 787-361-6311</a>
                            </span>
                            <span class="contact-info_text">
                                Email:
                                <a href="mailto:kateryvalle@gmail.com"> kateryvalle@gmail.com</a>
                            </span>
                        </div>
                    </div>
                    <div class="contact-info">
                        <div class="contact-info_icon">
                            <ion-icon name="timer-outline"></ion-icon>
                        </div>
                        <div class="media-body">
                            <h3 class="box-title">Hours of Operation</h3>
                            <span class="contact-info_text">
                                Tuesday - Saturday: 9AM - 6PM Sunday - Monday: Closed
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-xl-7">
                <div class="map-sec">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d236.64049486473905!2d-67.17726045394993!3d18.38156451132853!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8c02bb4043e972df%3A0xb463df90fa77c748!2sWhite%20Point%20Esthetic!5e0!3m2!1sen!2sus!4v1702383190477!5m2!1sen!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="contact-form-wrapper">
                    <form action="mail.php" method="POST" class="contact-form ajax-contact">
                        <h2 class="form-title text-center">Get In Touch</h2>
                        <div class="row">
                            <div class="form-group col-md-6">
                                <input type="text" class="form-control" name="name" id="name" placeholder="Your Name">
                            </div>
                            <div class="form-group col-md-6">
                                <input type="email" class="form-control" name="email" id="email" placeholder="Email Address">
                            </div>
                            <div class="form-group col-md-6">
                                <input type="tel" class="form-control" name="number" id="number" placeholder="Phone Number">
                            </div>
                            <div class="form-group col-md-6">
                                <select name="subject" id="subject" class="form-select nice-select">
                                    <option value="" disabled selected hidden>Select Service</option>
                                        <option value="Massages">Massages</option>
                                        <option value="Waxing">Waxing</option>
                                        <option value="Skincare">Skincare</option>
                                </select>
                            </div>
                            <div class="form-group col-12">
                                <textarea name="message" id="message" cols="30" rows="3" class="form-control" placeholder="Message"></textarea>
                            </div>
                            <div class="form-btn col-12">
                                <button class="th-btn fw-btn">Send Messages</button>
                            </div>
                        </div>
                        <p class="form-messages mb-0 mt-3"></p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}